body{
    background-color: gray;
    margin: -8px;
     
}




.circle img{
    height: 60px;
    width: 60px;
}

.circle1 img{
    height: 60px;
    width: 60px;
}

.circle {
    top:30%;
    left:94%;
    cursor:pointer;
    margin:11px 15px;
    width:60px;
    height:60px;
    overflow:hidden;
    position: fixed;
    
  }

  .circle1{
    top: 30%;
    cursor:pointer;
    margin:11px 15px;
    width:60px;
    height:60px;
    position: fixed;
    }
  




.navigation{
    position: relative;
    max-width: 100%;
    color: rgb(243, 242, 242);
    font-size: 25px;
    padding:45px;
    text-align:center;
}
    

.nav{
    margin-top: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 4px;
    display: inline-block;
    
}

.nav a{
    position: relative;
    color:white;
    text-decoration: none; 
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 14px 30px;

}

.nav a:before{
    content: "";
    width:50px;
    position: absolute;
    border-bottom: 5px solid bisque;
    bottom: 0;
    right:350px;
    transition: 0.7s all;
}

.nav a:hover:before{
    right:0;
}



.cover{
    margin-top: 1px;
    background-image: url(../Images/Matterhorn.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
  
    
}


 
    
    
.stars{
    background-image: url(../Images/stars.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: -33px;
    max-width: 100%;
    height: 600px;
    
    
}

.stars p{
    color: white;
    position: relative;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px;
}

.bio{
    height: 680px;
    max-width: 1000x;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: rgb(245, 245, 241);
    font-family: 'Courier New', Courier, monospace;
}

.bio h1, h2{
    text-align: center;
    
}

h2{
    opacity: 0.60;
}


.ponuda{
    text-align: justify;
    margin-top: 61px;
    margin-left: 30%;
    margin-right: 30%;
    box-sizing: inherit;
    font-family: 'Courier New', Courier, monospace;
}


.images1{
    
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
}


.galery-text h2{
    margin-top: 0px;
}

.galery{
    height: 800px;
    background-image: url(../Images/wall.jpg);
    background-size:cover;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    
    

}




.galery h2{
    padding:40px;
    font-size:3em;
    color: bisque;
}

.test{
    width:100%;
    height: 650px;
    background-image: url(../Images/wall.jpg);
    background-size:cover;

}

.big-galery{
    display: flex;
}

.galery-list{
    flex-grow: 1;
    padding:75px;
}

.picture{
    flex-grow: 2;
}

.galery-list label{
    display: block;
    margin-bottom: 10px;
    margin-left: 80px;
    border: 1px solid bisque;
    background-color: #ffffffA2;
    font-weight: bold;
    padding: 10px;
    box-shadow: 3px 7px black;
    color: black;
}

.picture input{
    display: none;
}

.picture .pic{
    display: none;
}

.picture input:checked+.pic{
    display: block;
}

.pic{
    width: 540px;
    margin-left: 10px;
    margin-right: 20px;
    border: 1px solid bisque;
    background-color: #ffffffA2;
    font-weight: bold;
    padding: 10px;
    box-shadow: 5px 10px black;
}





 
.contact{
    max-width: 100%;
    height: 500px;
    margin-top: 0px;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: inherit;
}

.contact-head h2, p{
    padding-top: 50px;
    text-align: center;
}

.h2-contact{
    margin-top: 0px;
}
.data img{
    width: 15px;
    height: 15px;

}

.formblat{
    
    display:flex;
    justify-content: center;
    padding: 60px;
    box-sizing: border-box;
    width: 100%;
        
}

.data{
    margin-right: 40px;
    margin-top: 36px;
}




.name-mail{
    display: flex;
    

}

.name{
    margin:10px;
    padding:10px;
    
    
}

.e-mail{
    width: 100%;
    margin:10px;
    padding: 10px;
  
    
    

}



.Message{
    margin:10px;
    width: 100%;
    padding:10px;
 
    
}


.form{
    
    padding: 15px;
    
    
}

.form input{
    padding: 15px;
}
.button{
    float: right;
    background-color: rgb(27, 32, 27);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px -42px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(177, 191, 204);
    color: black;
}


.bottom{
    height: 300px;
    width:100%;
    background-image: url(../Images/düsseldorf.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.footer{
    max-width: 100%;
    background-image:linear-gradient( to right,#355c7d , #6c5b7b , #c06c84  );
    height: 180px;
    text-align: center;
    color: rgb(37, 35, 35);
    font-size: 17px;
    padding:20px;
    font-family: 'Courier New', Courier, monospace;

}

.social-network{
    
    margin-top: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
   

}

.social-network a img{
    height: 25px;
    widows: 25px;
}

